name: Execução de teste chatbot da machine

on:
  schedule:
    - cron: '0 */2 * * *'  # Executa a cada 2 horas
  workflow_dispatch:  # Permite executar manualmente o workflow quando necessário

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v4

    - name: Instalar dependências
      run: |
        sudo apt update
        sudo apt install -y chromium-browser
        pip install -r requirements.txt

    - name: Verificar instalação do Chromium e Chromedriver
      run: |
          which chromium-browser
          which chromedriver
          chromium-browser --version
          chromedriver --version
          
    - name: Executar Testes
      run: |
        robot --outputdir=resultados chatbot.robot